{{ 'template-search.css' | asset_url | stylesheet_tag }}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <label for="Search">Search</label>
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
    >
    <input name="options[prefix]" type="hidden" value="last">

    <div id="predictive-search" tabindex="-1"></div>
  </form>
</predictive-search>

{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%}
      <div data-id="{{ section.id }}">
        <h3 id="predictive-search-products">Products</h3>
        <ul role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li role="option">
              <a href="{{ product.url }}">
                {{ product | image_url: width: 50 | image_tag }}
                <span>{{ product.title }}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    <button>Search for “{{ predictive_search.terms }}”</button>
  </div>
{%- endif -%}

{% if search.performed %}
  {% if search.results.size == 0 %}
    <p>No results found</p>
  {% else %}
    <div data-id="{{ section.id }}">
      {% for item in search.results %}
        <!-- Result {{ forloop.index }} -->
        <h3>
          {{ item.title | link_to: item.url }}
        </h3>

        {% if item.object_type == 'article' -%}
          {%- comment -%}
            'item' is an article
            All article object properties can be accessed.
          {%- endcomment -%}

          {% if item.image -%}
            <div class="result-image">
              <a href="{{ item.url }}" title="{{ item.title | escape }}">
                {{ item | image_url: width: 100 | image_tag }}
              </a>
            </div>
          {% endif %}
        {%- elsif item.object_type == 'page' -%}
          {%- comment -%}
            'item' is a page.
             All page object properties can be accessed.
          {%- endcomment -%}
        {%- else -%}
          {%- comment -%}
            'item' is a product.
            All product object properties can be accessed.
          {%- endcomment -%}

          {%- if item.featured_image -%}
            <div class="result-image">
              <a href="{{ item.url }}" title="{{ item.title | escape }}">
                {{ item.featured_image | image_url: width: 100 | image_tag }}
              </a>
            </div>
          {% endif %}
        {%- endif -%}

        <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
    {% endif %}
  {% endif %}
{% endif %}
